{% load static %}

<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gurkha Cyber Force</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png'%}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    <link rel="stylesheet" href="{% static 'css/input.css' %}">
	<link rel="stylesheet" href="{% static 'css/theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <link href="{% static 'css/admin-studio.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@2.44.0/tabler-icons.min.css">

    <style>
        .switch {
            font-size: 12px;
            position: relative;
            display: inline-block;
            width: 3.5em;
            height: 2em;
        }

        .switch input {
            opacity: 0; /* Hide default HTML checkbox */
            width: 0;
            height: 0;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            inset: 0;
            overflow: hidden;
            transition: all 0.4s cubic-bezier(0.215, 0.610, 0.355, 1);
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 1.4em;
            width: 1.4em;
            right: 0.3em;
            bottom: 0.3em;
            transform: translateX(150%);
            background-color: #59d102;
            border-radius: inherit;
            transition: all 0.4s cubic-bezier(0.215, 0.610, 0.355, 1);
        }

        .slider:after {
            position: absolute;
            content: "";
            height: 1.4em;
            width: 1.4em;
            left: 0.3em;
            bottom: 0.3em;
            background-color: #cccccc;
            border-radius: inherit;
            transition: all 0.4s cubic-bezier(0.215, 0.610, 0.355, 1);
        }

        .switch input:checked + .slider:before {
            transform: translateY(0);
        }

        .switch input:checked + .slider::after {
            transform: translateX(-150%);
        }
    </style>
</head>
<body class="studio-body">
	<main class="studio-main">
		<div id="main-wrapper" class="flex">
			<!-- Sidebar -->
			{% include "components/institution_sidebar.html" %}

			<div class="w-full page-wrapper overflow-hidden xl:pl-[250px]">
				<!-- Header -->
				{% include "components/institution_header.html" %}

                <!-- Main Content -->
				<main class="h-full overflow-y-auto max-w-full pb-6" id="admissions-table">
					<div class="container full-container xl:px-5 px-4">
						<section class="studio-content-wrap">
							<div class="studio-panel-head mb-6">
								<div class="flex justify-between items-center w-full">
									<div>
										<h1 class="studio-panel-title">Admissions</h1>
										<p class="studio-subtitle">Manage admission applications</p>
									</div>
									<div class="relative inline-block group">
										<label class="switch">
											<input type="checkbox" id="admissionToggle" data-institution-id="{{ institution.id }}" {% if institution.admission %}checked{% endif %}>
											<span class="slider border rounded-full"></span>
										</label>
									
										<div role="tooltip" class="absolute hidden -right-32 transform -translate-x-1/2 mt-2 z-10 group-hover:block w-64 text-xs text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-md opacity-100 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800">
											<div class="px-3 py-2">
												<p>Toggles the admission period on and off.</p>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="studio-panel min-h-[500px]">

                                <div class="relative w-full mt-7 mb-10">
                                    <input id="searchInput" name="search" class="text-sm shadow-md border-gray-200 pe-10 py-3 rounded-xl w-full transition-all outline-none focus:ring-0 focus:ring-gray-500 focus:border-gray-500" placeholder="Search for applicant name ..." onkeyup="filterAdmissions()"/>
                                    <div class="absolute inset-y-0 right-4 flex items-center pointer-events-none">
                                        <svg class="size-5 text-gray-500" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" stroke-linejoin="round" stroke-linecap="round"></path>
                                        </svg>                                                                               
                                    </div>
                                </div>
                                    
                                <div class="relative overflow-x-auto">
                                    <div x-data="{ openModal: null }">
                                        <table class="text-left w-full whitespace-nowrap text-sm">
                                            <thead class="text-gray-700">
                                                <tr class="font-semibold text-gray-600">
                                                    <th scope="col" class="p-4">S.N.</th>
                                                    <th scope="col" class="p-4">Applicant Name</th>
                                                    <th scope="col" class="p-4">Program</th>
                                                    <th scope="col" class="p-4">Status</th>
                                                    <th scope="col" class="p-4"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for admission in page_obj.object_list %}
                                                <tr>
                                                    <td class="p-4 font-medium text-gray-500">{{ forloop.counter }}</td>
                                                    <td class="p-4">
                                                        <span class="font-medium text-gray-500">{{ admission.user }}</span>
                                                    </td>
                                                    <td class="p-4">
                                                        <span class="font-medium text-gray-500">{{ admission.program.course }}</span>
                                                    </td>
                                                    
                                                    <td class="p-4 text-center">
                                                        <span class="font-medium text-gray-500">
                                                            {% if admission.status == 'pending' %}
                                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                                                </svg>
                                                            {% elif admission.status == 'accepted' %}
                                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M10.125 2.25h-4.5c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125v-9M10.125 2.25h.375a9 9 0 0 1 9 9v.375M10.125 2.25A3.375 3.375 0 0 1 13.5 5.625v1.5c0 .621.504 1.125 1.125 1.125h1.5a3.375 3.375 0 0 1 3.375 3.375M9 15l2.25 2.25L15 12" />
                                                                </svg>
                                                            {% else %}
                                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                                                                    <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                                                </svg>
                                                            {% endif %}
                                                        </span>
                                                    </td>

                                                    <td>
                                                        <a class="cursor-pointer" @click.prevent="openModal = '{{ admission.id }}'">
                                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 text-gray-500">
                                                                <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                                                            </svg>
                                                        </a>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>

                                        {% for admission in page_obj.object_list %}
                                            <div x-show="openModal === '{{ admission.id }}'" class="fixed inset-0 z-20 flex items-center justify-center bg-gray-900 bg-opacity-50">
                                                <div class="fixed inset-0 bg-gray-500/75 transition-opacity" aria-hidden="true"></div>
                                                
                                                <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
                                                    <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
                                                        <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-2xl">
                                                            <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:pt-10 sm:pb-6">
                                                                <svg @click="openModal = null" id="back-button" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="cursor-pointer size-6 p-1 rounded-md absolute -top-1 right-6 bg-gray-700 text-white dark:bg-[#121212] dark:text-white">
                                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                                                                </svg>
                                                                
                                                                <div class="relative overflow-x-auto">
                                                                    <div class="grid grid-cols-2 gap-x-10">
                                                                        <p class="text-2xl font-medium mb-7">{{ admission.user.name }}</p>

                                                                        <div class="flex justify-end">
                                                                            <form action="{% url 'update-application-status' admission.id %}" method="POST">
                                                                                {% csrf_token %}
                                                                                <select name="status" class="cursor-pointer rounded text-sm border-none pr-8 border focus:outline-none status-select" data-initial-status="{{ admission.status }}" onchange="this.form.submit()">
                                                                                    <option value="accepted" {% if admission.status == 'accepted' %}selected{% endif %}>Accepted</option>
                                                                                    <option value="rejected" {% if admission.status == 'rejected' %}selected{% endif %}>Rejected</option>
                                                                                    <option value="pending" {% if admission.status == 'pending' %}selected{% endif %} {% if admission.status != 'pending' %}disabled{% endif %}>
                                                                                        Pending
                                                                                    </option>
                                                                                </select>
                                                                            </form>                                                                        
                                                                        </div>
                                                                    </div>
                                                                        
                                                                    <div class="text-sm">
                                                                        <div class="grid grid-cols-2 gap-x-10">
                                                                            <div>
                                                                                <p class="font-medium mb-1">Email Address</p> 
                                                                                <p class="text-gray-600 mb-5"><a href="mailto:{{ admission.email }}">{{ admission.email }}</a></p>
                                                                            </div>
                                                                            <div>
                                                                                <p class="font-medium mb-1">Phone Number</p>
                                                                                <p class="text-gray-600 mb-5">{{ admission.phone }}</p>
                                                                            </div>
                                                                        </div>
                                                                        
                                                                        <p class="font-medium mb-1">Interested Program</p>
                                                                        <p class="text-gray-600 mb-5">{{ admission.program.course }}</p>
                                                                        <p class="font-medium mb-1">Query</p>
                                                                        <p class="text-gray-600 border rounded-md min-h-32 p-2">{{ admission.query }}</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}

                                        {% if page_obj %}
                                            <div class="pagination-wrapper mt-4">
                                                <nav class="flex items-center gap-x-1 justify-center" aria-label="Pagination">
                                                    {% if page_obj.has_previous %}
                                                        <a href="?page={{ page_obj.previous_page_number }}" class="pagination-button" aria-label="Previous">
                                                            <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                                <path d="m15 18-6-6 6-6"></path>
                                                            </svg>
                                                            <span>Previous</span>
                                                        </a>
                                                    {% else %}
                                                        <button type="button" class="pagination-button disabled" aria-label="Previous" disabled>
                                                            <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                                <path d="m15 18-6-6 6-6"></path>
                                                            </svg>
                                                            <span>Previous</span>
                                                        </button>
                                                    {% endif %}
                                                    
                                                    <div class="flex items-center gap-x-1">
                                                        {% for page in page_obj.paginator.page_range %}
                                                            {% if page == page_obj.number %}
                                                                <button type="button" class="pagination-button active" aria-current="page">{{ page }}</button>
                                                            {% else %}
                                                                <a href="?page={{ page }}" class="pagination-button">{{ page }}</a>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                    
                                                    {% if page_obj.has_next %}
                                                        <a href="?page={{ page_obj.next_page_number }}" class="pagination-button" aria-label="Next">
                                                            <span>Next</span>
                                                            <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                                <path d="m9 18 6-6-6-6"></path>
                                                            </svg>
                                                        </a>
                                                    {% else %}
                                                        <button type="button" class="pagination-button disabled" aria-label="Next" disabled>
                                                            <span>Next</span>
                                                            <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                                <path d="m9 18 6-6-6-6"></path>
                                                            </svg>
                                                        </button>
                                                    {% endif %}
                                                </nav>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
					</div>
				</main>

                <main class="h-full overflow-y-auto max-w-full pt-[6px] hidden" id="update-admission-form">
                    <div class="container full-container py-5 flex flex-col gap-6">
                        <div class="card min-h-[613px]">
                            <div class="card-body">
                                <div class="flex justify-between items-center mb-6">
                                    <h4 class="text-gray-600 text-lg tracking-wider font-semibold uppercase">Admission Details</h4>
                                    <svg id="back-button" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="cursor-pointer size-6 p-1 rounded-md absolute -top-2 right-6 bg-gray-700 text-white">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                                    </svg>
                                </div>
                
                                <div class="relative overflow-x-auto">
                                    <div>
                                        <p class="text-sm font-medium mb-3">Name: <span id="admission-name" class="text-gray-500"></span></p>
                                        <p class="text-sm font-medium mb-3">Email Address: <span id="admission-email" class="text-gray-500"></span></p>
                                        <p class="text-sm font-medium mb-3">Phone Number: <span id="admission-phone" class="text-gray-500"></span></p>
                                        <p class="text-sm font-medium mb-3">Interested Program: <span id="admission-program" class="text-gray-500"></span></p>
                                        <p class="text-sm font-medium mb-3">Query: <span id="admission-query" class="text-gray-500"></span></p>
                                    </div>
                                </div>
                            </div>
						</div>
					</section>
				</div>
			</main>
		</div>
	</div>
</main>

    <!-- Toggle admission on/off -->
    <script>
        document.getElementById("admissionToggle").addEventListener("change", function() {
            let institutionId = this.getAttribute("data-institution-id");
            let isChecked = this.checked;
    
            fetch(`/toggle-admission/${institutionId}/`, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": "{{ csrf_token }}"  // Ensure CSRF protection
                },
                body: JSON.stringify({ admission: isChecked })
            })
            .then(response => response.json())
            .then(data => {
                if (!data.success) {
                    alert("Error toggling admission!");
                    this.checked = !isChecked;  // Revert checkbox if error occurs
                }
            })
            .catch(error => {
                console.error("Error:", error);
                this.checked = !isChecked;
            });
        });
    </script>
    
    <!-- Update admission status -->
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            document.querySelectorAll(".status-select").forEach(select => {
                select.addEventListener("change", function() {
                    let form = this.closest("form");
                    let formData = new FormData(form);
        
                    fetch(form.action, {
                        method: "POST",
                        body: formData,
                        headers: {
                            "X-Requested-With": "XMLHttpRequest"
                        }
                    }).then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            // Once status is changed from 'Pending', disable the 'Pending' option
                            if (this.value !== "pending") {
                                this.querySelector("option[value='pending']").disabled = true;
                            }
                        }
                    });
                });
        
                // Initial check: Disable 'Pending' if the status was already changed
                if (select.dataset.initialStatus !== "pending") {
                    select.querySelector("option[value='pending']").disabled = true;
                }
            });
        });
    </script>    
	
	<script src="{% static 'js/index.js' %} "></script>
	<script src="{% static 'js/script.js' %} "></script>
    <script src="{% static 'js/dashboard.js' %} "></script>
    <script src="//unpkg.com/alpinejs" defer></script>
    <script src="{% static 'libs/jquery/dist/jquery.min.js' %} "></script>
	<script src="{% static 'js/sidebarmenu.js' %} "></script>
	<script src="{% static 'libs/simplebar/dist/simplebar.min.js' %} "></script>
	<script src="{% static 'libs/@preline/dropdown/index.js' %} "></script>
	<script src="{% static 'libs/@preline/overlay/index.js' %} "></script>
</body>
</html>