asgiref==3.11.1
certifi==2026.2.25
charset-normalizer==3.4.7
Django==6.0.4
djangorestframework==3.17.1
idna==3.11
joblib==1.5.3
numpy==2.4.4
openrouteservice==2.3.3
pillow==12.3.0
requests==2.33.1
scikit-learn==1.8.0
scipy==1.17.1
sqlparse==0.5.5
threadpoolctl==3.6.0
tzdata==2026.1
urllib3==2.6.3
