{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>User Dashboard</title>
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png'%}" />
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}" />
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}" />
        <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Fustat:wght@200..800&display=swap" rel="stylesheet" />
        <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
        <link href="{% static 'css/input.css' %}" rel="stylesheet" />
        <link href="{% static 'css/output.css' %}" rel="stylesheet" />
        <link href="{% static 'css/admin-studio.css' %}" rel="stylesheet" />

        <style>
            #chatbot-container {
                animation: slideUp 0.5s ease-in-out;
            }

            @keyframes slideUp {
                0% {
                    transform: translateY(20px);
                    opacity: 0;
                }
                100% {
                    transform: translateY(0);
                    opacity: 1;
                }
            }
        </style>
    </head>
    <body>
        <main>
            <div id="main-wrapper" class="flex">
                <!-- Sidebar -->
                {% include "components/user_sidebar.html" %}

                <div class="w-full page-wrapper overflow-hidden">
                    <!-- Header -->
                    {% include "components/user_header.html" %}

                    <!-- Main Content [Full ChatBot] -->
                    <main class="h-full overflow-y-auto max-w-full pt-[6px]">
                        <div class="container full-container py-5 gap-6">
                            <div class="mx-auto max-w-7xl">
                                <div
                                    id="chatbot-container"
                                    class="bg-white w-full min-h-[613px] shadow-sm rounded-xs flex flex-col transition-transform duration-300 ease-out"
                                >
                                    <div class="p-3 bg-[#121212] text-white font-bold rounded-xs">
                                        <div class="flex items-center">
                                            <i class="bx bx-robot"></i>
                                            <span class="text-sm">HamroBot</span>
                                        </div>
                                    </div>

                                    <!-- Chat Messages -->
                                    <div class="flex-grow p-4 h-72 overflow-y-auto flex flex-col space-y-3 bg-white" id="chatbot-messages">
                                        <div id="chatbot-placeholder" class="flex justify-center">
                                            <img src="{% static '/images/background/chatbot-bg.jpg' %}" alt="Chatbot Welcome Image" class="w-full opacity-80" />
                                        </div>
                                    </div>

                                    <!-- Input Field (Moved to Bottom) -->
                                    <div class="relative flex justify-center rounded-b-xs p-4 bg-white border-gray-200">
                                        <div class="relative w-full transition-all duration-500 focus-within:w-full">
                                            <input
                                                id="chatbot-input"
                                                type="text"
                                                class="text-sm border-gray-300 p-3 py-2.5 pr-9 rounded-xs w-full transition-all duration-500 outline-none focus:ring-1 focus:ring-gray-300 focus:border-gray-300"
                                                placeholder="Type a message ..."
                                            />
                                            <div class="absolute inset-y-0 right-3 flex items-center">
                                                <i id="bx-send" class="bx bx-send text-slate-500 cursor-pointer"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </main>
                </div>
            </div>
        </main>

        <script src="{% static 'js/index.js' %} "></script>
        <script src="{% static 'libs/jquery/dist/jquery.min.js' %} "></script>
        <script src="{% static 'js/sidebarmenu.js' %} "></script>
        <script src="{% static 'js/dashboard.js' %} "></script>
        <script src="{% static 'js/chatbot.js' %}"></script>
        <script src="{% static 'libs/simplebar/dist/simplebar.min.js' %} "></script>
        <script src="{% static 'libs/@preline/dropdown/index.js' %} "></script>
        <script src="{% static 'libs/@preline/overlay/index.js' %} "></script>
    </body>
</html>
