{% load static %}

<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gurkha Cyber Force</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png'%}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    <link rel="stylesheet" href="{% static 'css/input.css' %}">
	<link rel="stylesheet" href="{% static 'css/theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fustat:wght@200..800&display=swap" rel="stylesheet">
<link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
</head>
<body class="bg-white text-slate-900 font-sans ">
	<main>
		<div id="main-wrapper" class="flex">
			<!-- Sidebar -->
			{% include "components/user_sidebar.html" %}

			<div class="w-full page-wrapper overflow-hidden">
				<!-- Header -->
				{% include "components/user_header.html" %}

                <!-- Main Content -->
				<main class="h-full overflow-y-auto max-w-full py-[6px]">
                    <div class="container full-container py-3 flex flex-col gap-6">
                        <div class="mx-auto max-w-7xl">
                            <!-- Nearby Institutions -->
                            <div class="mb-16">
                                <h2 class="font-manrope font-semibold text-3xl min-[400px]:text-3xl text-black max-lg:text-center mb-11">Institutions Near You</h2>
                                
                                {% if nearby_institutions %}
                                    <div class="grid lg:grid-cols-3 sm:grid-cols-1 gap-x-5 gap-y-10">
                                        {% for item in nearby_institutions %}
                                            <a href="{% url 'institution-details' item.institution.id %}" class="max-w-96 mx-auto transform transition-all duration-[800ms] hover:translate-x-2 hover:-translate-y-2 hover:shadow-lg shadow-md shadow-gray-100 rounded-2xl">
                                                <div class="w-full max-w-sm">
                                                    <img src="{% if item.institution.Cover_Photo %}{{ item.institution.Cover_Photo.url }}{% else %}{{ 'default-cover.jpg' }}{% endif %}" alt="cream image" class="min-h-[100px] rounded-t-xl object-cover">
                                                </div>
                                                
                                                <div class="mt-5 px-2 pb-5">
                                                    <h6 class="font-medium text-sm text-black">{{ item.institution.name }}</h6>
                                                    <h6 class="mt-5 font-semibold text-xs text-transparent bg-clip-text bg-gradient-to-tr from-indigo-600 to-violet-600">
                                                        {% if item.institution.affiliation == 'foreign' and item.institution.Foreign_University_Name %}
                                                            {{ item.institution.Foreign_University_Name }}
                                                        {% else %}
                                                            {{ item.institution.get_affiliation_display }}
                                                        {% endif %}
                                                    </h6>
                                                    <h6 class="mt-3 font-semibold text-xs text-transparent bg-clip-text bg-gradient-to-tr from-indigo-600 to-violet-600">{{ item.distance }} KM</h6>
                                                </div>
                                            </a>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    <p class="text-gray-600">Update your location in profile to view nearby institutions.</p>
                                {% endif %}
                            </div>

                            <!-- Institutions -->
                            <h2 class="font-manrope font-semibold text-3xl min-[400px]:text-3xl text-black max-lg:text-center mb-8">Institutions</h2>
                            
                            <div class="flex gap-x-3 mb-8">
                                <div class="relative flex grow">
                                    <div class="relative w-full">
                                        <input id="searchInput" name="search" class="text-sm shadow-md border-gray-300 pe-10 py-3 rounded-xl w-full transition-all outline-none focus:ring-0 focus:ring-gray-500 focus:border-gray-500" placeholder="Search for institutions ..." onkeyup="filterInstitutions()"/>
                                        <div class="absolute inset-y-0 right-4 flex items-center pointer-events-none">
                                            <svg class="size-5 text-gray-500" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" stroke-linejoin="round" stroke-linecap="round"></path>
                                            </svg>                                                                               
                                        </div>
                                    </div>
                                </div>
        
                                <!-- Province Filter -->
                                <div class="">
                                    <select id="provinceFilter" class="border-gray-300 py-3 px-4 w-56 rounded-xl shadow-md text-sm focus:ring-gray-500 focus:border-gray-500">
                                        <option value="">All Provinces</option>
                                        {% for code, name in provinces %}
                                            <option value="{{ code }}">{{ name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                
                            <div id="institutionsGrid" class="grid lg:grid-cols-3 sm:grid-cols-1 gap-x-5 gap-y-10">
                                {% for institution in institutions %}
                                    <a href="{% url 'institution-details' institution.id %}" data-province="{{ institution.province }}" class="institution-card max-w-96 mx-auto transform transition-all duration-[1000ms] hover:translate-x-2 hover:-translate-y-2 hover:shadow-lg shadow-md shadow-gray-100 rounded-2xl">
                                        <div class="w-full max-w-sm">
                                            <img src="{% if institution.Cover_Photo %}{{ institution.Cover_Photo.url }}{% else %}{{ 'default-cover.jpg' }}{% endif %}" alt="cream image" class="min-h-[100px] rounded-t-xl object-cover">
                                        </div>
                                        
                                        <div class="mt-5 px-2 pb-5">
                                            <h6 class="font-medium text-sm text-black">{{ institution.name }}</h6>
                                            <div class="mt-5 mb-3 flex items-center gap-x-1">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-3">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 21v-8.25M15.75 21v-8.25M8.25 21v-8.25M3 9l9-6 9 6m-1.5 12V10.332A48.36 48.36 0 0 0 12 9.75c-2.551 0-5.056.2-7.5.582V21M3 21h18M12 6.75h.008v.008H12V6.75Z" />
                                                </svg>
                                                  
                                                <h6 class="font-semibold text-xs text-transparent bg-clip-text bg-gradient-to-tr from-indigo-600 to-violet-600">
                                                    {% if institution.affiliation == 'foreign' and institution.Foreign_University_Name %}
                                                        {{ institution.Foreign_University_Name }}
                                                    {% else %}
                                                        {{ institution.get_affiliation_display }}
                                                    {% endif %}
                                                </h6>
                                            </div>

                                            <div class="flex items-center gap-x-1">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-3">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z" />
                                                </svg>
                                                  
                                                <h6 class="font-semibold text-xs text-gray-500">{{ institution.address }}</h6>
                                            </div>
                                        </div>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </main>
			</div>
		</div>
	</main>

	<script src="{% static 'js/index.js' %} "></script>
    <script src="{% static 'js/script.js' %} "></script>
    <script src="{% static 'libs/jquery/dist/jquery.min.js' %} "></script>
	<script src="{% static 'js/sidebarmenu.js' %} "></script>
    <script src="{% static 'js/dashboard.js' %} "></script>
	<script src="{% static 'libs/simplebar/dist/simplebar.min.js' %} "></script>
	<script src="{% static 'libs/@preline/dropdown/index.js' %} "></script>
	<script src="{% static 'libs/@preline/overlay/index.js' %} "></script>
</body>
</html>