{% load static %}

<aside id="application-sidebar-brand" class="studio-sidebar hs-overlay hs-overlay-open:translate-x-0 -translate-x-full transform hidden xl:block xl:translate-x-0 xl:end-auto xl:bottom-0 fixed top-0 h-screen z-[999] flex-shrink-0 left-sidebar transition-all duration-300">
    <div class="px-6 py-6">
        <a href="{% url 'institution-dashboard' %}" class="studio-logo">
            <img src="{% static 'images/logos/logo-light.png' %}" alt="Hamrocollege" class="h-10 w-auto">
        </a>
    </div>

    <div class="scroll-sidebar scrollbar-dark" data-simplebar="">
        <div class="px-4 pb-6">
            <p class="studio-nav-title">Main</p>
            <ul class="space-y-1.5">
                <li>
                    <a href="{% url 'institution-dashboard' %}" class="studio-nav-link {% if request.path == '/institution-dashboard/' %}is-active{% endif %}">
                        <i class="ti ti-layout-dashboard text-base"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'institution-profile' %}" class="studio-nav-link {% if request.path == '/institution-profile/' %}is-active{% endif %}">
                        <i class="ti ti-building-community text-base"></i>
                        <span>Institution Profile</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'programs' %}" class="studio-nav-link {% if request.path == '/programs/' %}is-active{% endif %}">
                        <i class="ti ti-book text-base"></i>
                        <span>Courses</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'admission' %}" class="studio-nav-link {% if request.path == '/admission/' %}is-active{% endif %}">
                        <i class="ti ti-file-description text-base"></i>
                        <span>Admissions</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</aside>